<!--
  Generated template for the VocalListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [class]="isRecording ? 'anime-hide' : ''">
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button icon-only ion-button (click)="showProfile()"><ion-icon name="contact"></ion-icon></button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Rechercher"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content center padding>
  <ion-list class="vocal-list" [hidden]="isRecording">
    <ion-list-header>
      Mes vocals
    </ion-list-header>
     <ion-item-sliding *ngFor="let item of talkService.Talks;let i = index">
      <ion-item (click)="goToMessage(item.Id)">
        <ion-avatar item-start>
          <img alt="" [src]="getPicture(item)">
        </ion-avatar>
        <div *ngIf="item.IsWriting === true">
          <p>{{ item.TextWriting }}
        </div>
        <div *ngIf="item.IsWriting === false">
          <h3>{{ item.Name }}</h3>
          <p *ngIf="item.FormatedDateLastMessage.isToday === true">{{ item.FormatedDateLastMessage.date | date: 'HH:mm' }}</p>
          <p *ngIf="item.FormatedDateLastMessage.isYesterday === true">Hier</p>
          <p *ngIf="item.FormatedDateLastMessage.isWeek === true">{{ item.FormatedDateLastMessage.date | date: 'EEEE' }}</p> 
          <p *ngIf="item.FormatedDateLastMessage.isToday === false && item.FormatedDateLastMessage.isYesterday === false && item.FormatedDateLastMessage.isWeek === false">{{ item.FormatedDateLastMessage.date | date: 'dd/MM/yy' }}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="showConfirm(0, item.Id, i)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button icon-only (click)="showConfirm(1, item.Id, i)">
          <ion-icon name="archive"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding> 
  </ion-list>
</ion-content>

 <ion-footer>
  <ion-toolbar text-center>
    <audio-recorder [isDirectMessage]="isDirectMessage" [talkId]="talkId"></audio-recorder>
  </ion-toolbar>
</ion-footer> 

<div class="wrapper-record" [hidden]="!isTiming">
  <div class="timer" data-timer><span>{{time}}</span></div>
  <span class="subtitle">Enregistrement du vocal en cours ...</span>
</div>