<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>@SNPSTR</h2>
        </ion-text>
        <img src="https://i.picsum.photos/id/664/375/375.jpg" alt="">
        <ion-text>
          <p>Il y a 2h</p>
          <p>Jul c'est pas des lol</p>
          <p>#JUJUJUL</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>@SNPSTR</h2>
        </ion-text>
        <img src="https://i.picsum.photos/id/664/375/375.jpg" alt="">
        <ion-text>
          <p>Il y a 2h</p>
          <p>Jul c'est pas des lol</p>
          <p>#JUJUJUL</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>@SNPSTR</h2>
        </ion-text>
        <img src="https://i.picsum.photos/id/664/375/375.jpg" alt="">
        <ion-text>
          <p>Il y a 2h</p>
          <p>Jul c'est pas des lol</p>
          <p>#JUJUJUL</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>@SNPSTR</h2>
        </ion-text>
        <img src="https://i.picsum.photos/id/664/375/375.jpg" alt="">
        <ion-text>
          <p>Il y a 2h</p>
          <p>Jul c'est pas des lol</p>
          <p>#JUJUJUL</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>@SNPSTR</h2>
        </ion-text>
        <img src="https://i.picsum.photos/id/664/375/375.jpg" alt="">
        <ion-text>
          <p>Il y a 2h</p>
          <p>Jul c'est pas des lol</p>
          <p>#JUJUJUL</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>