<Vocal.Business.Properties.Settings>
  <setting name="Salt" serializeAs="String">
    <value>Z4YQN?K/%.7</value>
  </setting>
  <setting name="CacheDuration" serializeAs="String">
    <value>0</value>
  </setting>
  <setting name="CacheKeyToken" serializeAs="String">
    <value>CacheToken</value>
  </setting>
  <setting name="HostHub" serializeAs="String">
    <value>http://192.168.1.14:8017</value>
  </setting>
  <setting name="MailFrom" serializeAs="String">
    <value>from@example.com</value>
  </setting>
  <setting name="MailHost" serializeAs="String">
    <value>smtp.mailtrap.io</value>
  </setting>
  <setting name="MailPort" serializeAs="String">
    <value>2525</value>
  </setting>
  <setting name="MailUsername" serializeAs="String">
    <value>ddac79523d5ceb</value>
  </setting>
  <setting name="MailPassword" serializeAs="String">
    <value>44509b4d06feb6</value>
  </setting>
  <setting name="FormatSign" serializeAs="String">
    <value>{0}@{1}@{2}</value>
  </setting>
  <setting name="FormatToken" serializeAs="String">
    <value>{0}@{1}@{2}</value>
  </setting>
  <setting name="UrlUpdatePassword" serializeAs="String">
    <value>http://192.168.1.14:8017/account/resetpassword</value>
  </setting>
  <setting name="ValidityToken" serializeAs="String">
    <value>10</value>
  </setting>
  <setting name="Hubname" serializeAs="String">
    <value>Vocal</value>
  </setting>
  <setting name="Url" serializeAs="String">
    <value />
  </setting>
  <setting name="PicturePath" serializeAs="String">
    <value>D:\Projects\Vocal\backend\Vocal.WebApi\docs\pictures</value>
  </setting>
  <setting name="DocsPath" serializeAs="String">
    <value>D:\Projects\Vocal\backend\Vocal.WebApi\docs\vocal</value>
  </setting>
  <setting name="CognitiveServiceKey" serializeAs="String">
    <value>6486858a75b244759a4697c0a2420188</value>
  </setting>
  <setting name="CognitiveServiceUrlLongAudio" serializeAs="String">
    <value>wss://speech.platform.bing.com/api/service/recognition/continuous</value>
  </setting>
</Vocal.Business.Properties.Settings>