<connectionStrings>
  <!--<add name="elmah-mongodb" connectionString="mongodb://vocaluser:lolipop@ds127962.mlab.com:27962/vocal?w=0" />-->
  <add name="elmah-mongodb" connectionString="mongodb://localhost:27017/elmah?w=0" />
  <!--<add name="elmah-mongodb" connectionString="mongodb://vocal.westeurope.cloudapp.azure.com:27017/elmah?w=0" />-->
</connectionStrings>