<Vocal.DAL.Properties.Settings>
  <setting name="DocumentDBName" serializeAs="String">
    <value>vocal</value>
  </setting>
  <setting name="Host" serializeAs="String">
    <value>ds127962.mlab.com</value>
  </setting>
  <setting name="Port" serializeAs="String">
    <value>27962</value>
  </setting>
  <setting name="DocumentDBUser" serializeAs="String">
    <value>vocaluser</value>
  </setting>
  <setting name="DocumentDBPwd" serializeAs="String">
    <value>lolipop</value>
  </setting>
  <setting name="CollectionUser" serializeAs="String">
    <value>User</value>
  </setting>
  <setting name="CollectionTalk" serializeAs="String">
    <value>Talk</value>
  </setting>
  <setting name="CollectionSign" serializeAs="String">
    <value>Sign</value>
  </setting>
  <setting name="DefaultFullSharedAccessSignature" serializeAs="String">
    <value>Endpoint=sb://mobileappvocal.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=h6TObd/MF8tY9JiQjiHRj4c3C2+XYjbYQe0CzgZnmoA=</value>
  </setting>
</Vocal.DAL.Properties.Settings>