<Vocal.DAL.Properties.Settings>
  <setting name="DocumentDBName" serializeAs="String">
    <value>vocal</value>
  </setting>
  <setting name="Host" serializeAs="String">
    <value>ds127962.mlab.com</value>
  </setting>
  <setting name="Port" serializeAs="String">
    <value>27962</value>
  </setting>
  <setting name="DocumentDBUser" serializeAs="String">
    <value>vocaluser</value>
  </setting>
  <setting name="DocumentDBPwd" serializeAs="String">
    <value>lolipop</value>
  </setting>
  <setting name="CollectionUser" serializeAs="String">
    <value>User</value>
  </setting>
  <setting name="CollectionTalk" serializeAs="String">
    <value>Talk</value>
  </setting>
</Vocal.DAL.Properties.Settings>