<ion-content [fullscreen]="true" class="ion-text-center">
  <form class="ion-vertical-center" #form="ngForm" (ngSubmit)="submitConnexion()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Mail</ion-label>
        <ion-input type="text" placeholder="" name="mail" required [(ngModel)]="model.mail" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input type="password" placeholder="" name="password" required minlength="8" [(ngModel)]="model.password"></ion-input>
      </ion-item>
    </ion-list>
    
    <div class="ion-margin-top">
      <ion-button shape="round" type="submit" [disabled]="!form.valid">Connexion</ion-button>
    </div>

    <div>
      <ion-button fill="clear" shape="round" type="button" routerLink="/password-forgot">Mot de passe oublié ?</ion-button>
    </div>
  </form>

</ion-content>
