<ion-header *ngIf="isLoggedIn" class="ion-no-border" [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/params']"><ion-icon slot="icon-only" name="settings"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoggedIn; else loggedOut">
    <div class="ion-margin-top">
      <ion-avatar>
        <img src="https://picsum.photos/id/237/200" alt="">
      </ion-avatar>
      <p class="ion-text-center">@{{user.username}}</p>
    </div>
  </div>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="2">
        <div>
          <p>2,5h</p>
        </div>
      </ion-col>
      <ion-col size="2">
        <p>10h</p>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col class="stats-label" size="4">
        <p>Écouté</p>
      </ion-col>
      <ion-col class="stats-label" size="4"><p>Enregistré</p></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loggedOut>
    <div class="logged-out ion-vertical-center">
      <div class="ion-text-center">
        <ion-button routerLink="/connexion">CONNEXION</ion-button>
      </div>
      <div class="ion-text-center">
        <ion-button routerLink="/register">INSCRIPTION</ion-button>
      </div>
    </div>
  </ng-template>
</ion-content>