<ion-header *ngIf="isLoggedIn" [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button routerLink="/params"><ion-icon slot="icon-only" name="settings"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoggedIn; else loggedOut">
    <ion-item>
      <ion-thumbnail>
        <!-- <img [src]="getPicture()"> -->
      </ion-thumbnail>
    </ion-item>
    UTILISATEUR LOGGUÉ
  </div>
  <ng-template #loggedOut>
    <div class="logged-out ion-vertical-center">
      <div class="ion-text-center">
        <ion-button routerLink="/connexion">CONNEXION</ion-button>
      </div>
      <div class="ion-text-center">
        <ion-button routerLink="/register">INSCRIPTION</ion-button>
      </div>
    </div>
  </ng-template>
</ion-content>