<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocal.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Vocal.Business.Properties.Settings>
            <setting name="TechnicalError" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeoutError" serializeAs="String">
                <value />
            </setting>
            <setting name="UserinfoError" serializeAs="String">
                <value />
            </setting>
            <setting name="Salt" serializeAs="String">
                <value>Z4YQN?K/%.7</value>
            </setting>
            <setting name="CacheDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CacheKeyToken" serializeAs="String">
                <value>CacheToken</value>
            </setting>
        </Vocal.Business.Properties.Settings>
    </applicationSettings>
</configuration>