<ion-header [class]="isRecording ? 'anime-hide' : ''">
  <ion-navbar hideBackButton="true">
    <ion-item>
      <ion-avatar start>
        <img [src]="Picture" alt="">
      </ion-avatar>
    </ion-item>
    <ion-title>
      {{VocalName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToVocalList()"><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [hidden]="isRecording">
    <ion-list-header>
      Conversation
    </ion-list-header>
    <ion-item-sliding *ngFor="let mess of Messages">
      <ion-item>
        <p *ngIf="mess.ContentType == 2">{{mess.Content}}</p>
        <p *ngIf="mess.ContentType == 1">
          <button ion-button icon-only *ngIf="mess.Content == null" (click)="getMessage(mess.Id)"><ion-icon name="download"></ion-icon></button>
          <audio controls [src]="domSanitizer.bypassSecurityTrustUrl(mess.Content)" *ngIf="mess.Content != null">
          </audio>
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only><ion-icon name="closed-captioning"></ion-icon></button>
        <button ion-button icon-only><ion-icon name="share-alt"></ion-icon></button>
        <button ion-button icon-only><ion-icon name="download"></ion-icon></button>
        <button ion-button icon-only color="danger"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div id="chat-window" class="chat-window">
      <ion-grid>
        <ion-row id="message-room">

        </ion-row>
      </ion-grid>
  </div>

  <div>
    <form #form="ngForm" (ngSubmit)="sendMessage(form)" [hidden]="isRecording">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-item>
              <input type="hidden" ng-model="model.talkId" value="{{model.talkId}}" ng-init="model.talkId=model.talkId"/>
              <ion-input type="text" name="Message" (ionInput)="change()" [(ngModel)]="model.Message" placeholder="Say something..." required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only round color="secondary" type="submit" [disabled]="!form.valid">
                <ion-icon name="arrow-round-up"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>


<ion-footer>
  <audio-recorder></audio-recorder>
</ion-footer>

<div class="wrapper-record" [hidden]="!isTiming">
  <div class="timer" data-timer><span>{{time}}</span></div>
  <span class="subtitle">Enregistrement du vocal en cours ...</span>
</div>