page-message {
  ion-header{
    .name{
      font-weight: bold;
    }
    .total-vocal{
      font-size: 0.8em;
    }
  }
  .grid{
    padding:0;
  }
  .msg{
    border-radius: 20px;
    padding: 10px;
    
    &.msg-current-user{
            background-color: green;
    }

    &.msg-current-user-not-sent{ 
        background-color: lightgreen;
    }

    &.msg-other-user{
        background-color: lightgray;
    }
  }
  ion-header{
    transition: transform 0.5s;
    &.anime-hide{
      transform: translateY(-100%);
    }
  }
  ion-content{
    margin-bottom: 60px;
  }
  .message-list{
    .send ion-item{
      background: rgb(155, 224, 176);
    }
    .received ion-item{
      background: #aee;
    }
  }
  ion-footer{
    form{
      padding:0;
    }
  }
}