page-message {

    .grid{
        padding:0;
    }

    .msg{

        border-radius: 20px;
        padding: 10px;
        
        &.msg-current-user{
                background-color:#32db64;
        }

        &.msg-other-user{
            background-color: lightgray;
        }
    }
  
}
