<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocal.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Vocal.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Vocal.WindowsService.Properties.Settings>
            <setting name="ServiceDisplayName" serializeAs="String">
                <value>Vocal Backup</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>VocalBackup</value>
            </setting>
            <setting name="ServiceDescription" serializeAs="String">
                <value />
            </setting>
        </Vocal.WindowsService.Properties.Settings>
      <Vocal.Business.Properties.Settings>
        <setting name="BackupPath" serializeAs="String">
          <value>D:\Projects\Vocal\Vocal.WindowsService\bin\Debug</value>
        </setting>
      </Vocal.Business.Properties.Settings>
    </applicationSettings>
</configuration>