<appSettings>
  <!--  miscellaneous -->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
  <!-- DB Context-->
  <add key="Host" value="localhost"/>
  <add key="Port" value="27017"/>

  <add key="DocumentDBName" value="Vocal" />
  <add key="DocumentDBUser" value="" />
  <add key="DocumentDBPwd" value="" />
  
  <add key="CollectionUser" value="User" />
  <add key="CollectionTalk" value="Talk" />
  <add key="CollectionMessage" value="Message" />
  <add key="CollectionMonitoring" value="Monitoring" />
  <add key="CollectionSearch" value="Search" />
  <add key="CollectionSign" value="Sign" />
  
  <!-- Notification Context-->
  <add key="Hubname" value="vocal" />
  <add key="DefaultFullSharedAccessSignature" value="Endpoint=sb://mobileappvocal.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=h6TObd/MF8tY9JiQjiHRj4c3C2+XYjbYQe0CzgZnmoA=" />

</appSettings>