<Vocal.Business.Properties.Settings>
  <setting name="Salt" serializeAs="String">
    <value>Z4YQN?K/%.7</value>
  </setting>
  <setting name="CacheDuration" serializeAs="String">
    <value>60</value>
  </setting>
  <setting name="CacheKeyToken" serializeAs="String">
    <value>CacheToken</value>
  </setting>
  <setting name="HostHub" serializeAs="String">
    <value>http://vocal.westeurope.cloudapp.azure.com</value>
  </setting>
  <setting name="MailFrom" serializeAs="String">
    <value>from@example.com</value>
  </setting>
  <setting name="MailHost" serializeAs="String">
    <value>smtp.mailtrap.io</value>
  </setting>
  <setting name="MailPort" serializeAs="String">
    <value>2525</value>
  </setting>
  <setting name="MailUsername" serializeAs="String">
    <value>ddac79523d5ceb</value>
  </setting>
  <setting name="MailPassword" serializeAs="String">
    <value>44509b4d06feb6</value>
  </setting>
  <setting name="FormatSign" serializeAs="String">
    <value>{0}@{1}@{2}</value>
  </setting>
  <setting name="FormatToken" serializeAs="String">
    <value>{0}@{1}@{2}</value>
  </setting>
  <setting name="UrlUpdatePassword" serializeAs="String">
    <value>http://vocal.westeurope.cloudapp.azure.com/account/resetpassword</value>
  </setting>
  <setting name="ValidityToken" serializeAs="String">
    <value>3</value>
  </setting>
  <setting name="Hubname" serializeAs="String">
    <value>Vocal</value>
  </setting>
  <setting name="Url" serializeAs="String">
    <value>http://vocal.westeurope.cloudapp.azure.com</value>
  </setting>
  <setting name="PicturePath" serializeAs="String">
    <value>C:\inetpub\wwwroot\WsVocal\docs\pictures</value>
  </setting>
  <setting name="PictureUrl" serializeAs="String">
    <value>http://vocal.westeurope.cloudapp.azure.com/docs/pictures</value>
  </setting>
  <setting name="CacheKeyFriend" serializeAs="String">
    <value>CacheFriend_{0}</value>
  </setting>
  <setting name="CacheKeyContactAddedMe" serializeAs="String">
    <value>CacheContact_{0}</value>
  </setting>
  <setting name="CacheSettings" serializeAs="String">
    <value>CacheSettings_{0}</value>
  </setting>
  <setting name="PictureProfilWidth" serializeAs="String">
    <value>375</value>
  </setting>
  <setting name="PictureProfilHeight" serializeAs="String">
    <value>280</value>
  </setting>
  <setting name="PictureTalkWidth" serializeAs="String">
    <value>80</value>
  </setting>
  <setting name="PictureTalkHeight" serializeAs="String">
    <value>80</value>
  </setting>
  <setting name="DefaultImageProfil" serializeAs="String">
    <value>default.jpg</value>
  </setting>
  <setting name="DefaultImageTalk" serializeAs="String">
    <value>default.jpg</value>
  </setting>
  <setting name="DocsPath" serializeAs="String">
    <value>C:\inetpub\wwwroot\WsVocal\docs\vocal</value>
  </setting>
  <setting name="CognitiveServiceKey" serializeAs="String">
    <value>6486858a75b244759a4697c0a2420188</value>
  </setting>
  <setting name="CognitiveServiceUrlLongAudio" serializeAs="String">
    <value>wss://speech.platform.bing.com/api/service/recognition/continuous</value>
  </setting>
</Vocal.Business.Properties.Settings>