<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="file-tray-outline"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>