page-modal-profile {
  .profile-pic{
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: -16px;
    margin-right:-16px;
    overflow: hidden;
    img{
      position:absolute;
      top:50%;
      left:50%;
      transform: translateY(-50%) translateX(-50%);
    }
    .wrapper-button{
      position:absolute;
      bottom:2%;
      left:0;
      z-index: 10;
      background: rgba(0,0,0,0.5);
      color: white;
    }
  }
}
ion-popover.friends-added-me .popover-content{
  width: 270px;
}